html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans'; 
}

.header-wrapper > h1 {
  font-size: 33px;
  padding: 0 30px;
  font-family: 'Montserrat';
}

body a {
  text-decoration: none;
  cursor: pointer; 
}

header {
  padding: 20px 0 20px 0;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.nav-head nav {
  display: flex;
  padding: 15px;
  min-width: 660px;
  justify-content: space-around;
}

.nav-head nav > a {
  display: flex;
  color: black;
  padding: 0 5px;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s;
}

.nav-head nav > a:hover {
  color: #FFCE00;
}

.arrow {
  transform: rotate(90deg);
  padding: 0 5px;
  font-size: 12px;
  height: 20px;
}
/* Section top */

section.top {
  background-image: url(https://wpfreethemeshop.com/templates/light/img/slider/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.top-wrapper {
  padding: 80px 50px;
  width: 100px;
}
.top-h1 div {
  display: flex;
}
